<!doctype html>

{% set wannier_registry_url = "https://wannier-developers.github.io/wannier-ecosystem-registry/" %}

<html lang="en">

<head>
  <meta charset="utf-8">

  <title>{{title}}</title>
  <meta name="description" content="{{description}}">

  <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
  {% block css %}
  <link rel="stylesheet" href="static/css/style.css">
  <link rel="shortcut icon" type="image/svg+xml" href="static/img/ecosystem-logo.png">
  {% endblock css %}

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>
    {% block header %}
    <header id='entrytitle' style="background-color: #000; margin: 0; padding: 5px 20px 25px 20px;">
      <h1>
        <img src="{% block logoimagesrc %}static/img/ecosystem-logo.png{% endblock logoimagesrc %}" width="140px" style="width: 140px; vertical-align: middle;">&nbsp;&nbsp;
        <a href="{{ wannier_registry_url }}">Wannier Functions Software Ecosystem Registry</a>
      </h1>
      <p style="font-size: 90%;"><a href="http://github.com/wannier-developers/wannier-ecosystem-registry" style="color: #999;">[View on GitHub/register your code]</a> </p>
    </header>

    {% endblock header %}
    <div style="max-width: 1200px; margin: auto;">
      {% block body %} {% endblock body %}
    </div>
    {% block footer %}
    <footer class="footer">
      <hr>
      <div class="side-by-side">
        <div style="width: 80%;">
          This page is part of the <a href="{{ wannier_registry_url }}">Wannier Functions Software Ecosystem Registry</a>, listing Wannier functions enabled codes.
        </div>
      </div>
      {% block footer_images %}
      {% endblock footer_images %}
    </footer>
    {% endblock footer %}
  </body>

  </html>
