{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="shortcut icon" type="image/svg+xml" href="static/img/ecosystem-logo.png">
{% endblock css %}

{% block body %}
<main>
    <h2>Total number of codes: {{ codes | length }}</h2>

    <h1>
        Codes
    </h1>
    <small><i>Codes are sorted alphabetically by their ID.</i></small>

    <div id='entrylist'>
        {% for code_name, code in codes|dictsort %}

        <div class="submenu-entry">
            <div class="submenu-img">
                <a href="{{ code.subpage }}">
                {% if code.logo %}
                    <!-- img with error handler for dead links (fallback to ecosystem logo) -->
                    <img src="{{ code.logo }}" alt="{{ code.metadata.title }}"
                        onerror="this.src='static/img/ecosystem-logo.png';this.onerror='';">
                {% else %}
                    <img src="static/img/ecosystem-logo.png" alt="{{ code.metadata.title }}">
                {% endif %}
                </a>
            </div>
            <div class="submenu-text">
                <h2><a href="{{ code.subpage }}">{{ code.metadata.title }}</a>
                {% if code.categories %}
                    {% for category in code.categories %}
                        <span class="category">{{ categories[category]["title"] }}</span>
                    {% endfor %}
                {% endif %}
                </h2>

                {% if code.metadata.description %}
                    <p class=description>{{code.metadata.description}}</p>
                {% endif %}

                <p>
                {% if not code.categories %}
                    No categories specified.<br>
                {% endif %}
                </p>

                {% if code.summaryinfo %}
                    <p class="summaryinfo">
                        {% for summaryinfoelem in code.summaryinfo %}
                        <span class="badge">
                            <span class="badge-left {{summaryinfoelem.colorclass}}">{{summaryinfoelem.text}}</span>
                            <span class="badge-right">{{summaryinfoelem.count}}</span>
                        </span>
                        {% endfor %}
                    </p>
                {% endif %}
                <p class='details'><a href="{{ code.subpage }}">Show details</a></p>
            </div>
        </div>

        {#
            {% if not loop.last %}
            <hr>
            {% endif %}
        #}
        {% endfor %}
    </div>

</main>
{% endblock body %}
